.main{
    position: relative;
    z-index: 10;
}
#main-html li{
    display: inline-block;
    font-size: 20px;
    background: yellow;
    width: 300px;
}
#main-html li:hover{
    background: gray;
}
.main>li+li,
.child-2>li{
    border: 2px solid black;
}
